<footer>
    <nav>|
        <a href='https://github.com/YangSeuljin/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/YangSeuljin/ph_reco</span><br>
        <span>Copyright 2023. YangSeuljin. All Rights Reserved.</span>
    </p>
</footer>